* {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background: #dfdfdf; */
  background: #dfdfdf;
}

/* Navigation */
nav {
  display: flex;
  width: 100vw;
  background-color: #5f9ea0;
  color: white;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 2vw;
}

.nav-title {
  margin-left: 2vw;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-right: 5vw;
}

.nav-link,
.nav-link:visited {
  color: white;
  text-decoration: none;
  margin-left: 5px;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

.sub-menu {
  background-color: #235c5f;
  color: white;
  display: flex;
  list-style-type: none;
  margin-bottom: 0.5vh;
  justify-content: center;
  align-items: center;
}

.sub-menu li {
  display: inline-block;
  cursor: pointer;
  height: 5vh;
}

.sub-menu li a {
  display: block;
  height: 5vh;
  width: 100%;
  color: white;
  padding: 8px 10px 0 10px;
}

.sub-menu li a:hover,
.sub-menu li a:active {
  color: #235c5f;
  background-color: #dfdfdf;
}

.menu-icon {
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 25%;
}

.form-icons {
  width: 30px;
  height: 30px;
  float: left;
}

.container-header {
  border-radius: 5px;
  background-color: #235c5f;
  color: white;
  padding: 5px;
  width: 97%;
  margin: 0;
  margin-bottom: 1rem;
  position: relative;
  top: 0;
  left: 3%;
}

.container {
  background-color: #dfdfdf;
  height: auto;
  padding: 10px;
  margin: 1vh 5vw 0vh 5vw;
}

.budget-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: baseline;
  background-color: #dfdfdf;
  margin: 1vh 5vw 0vh 5vw;
  height: auto;
  padding: 10px;
}

.figures {
  color: #235c5f;
  font-weight: 400;
  font-size: 1.2rem;
}

#allocated {
  font-weight: 700;
}

#remaining {
  font-weight: 700;
}

input[type="text"],
input[type="number"] {
  border: 1px solid #dedede;
  border-radius: 2px;
  /* display: block; */
  font-size: 16px;
  padding: 10px;
  /* width: 100%; */
}

.btn {
  cursor: pointer;
  background-color: #5f9ea0;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  /* display: block; */
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 25%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

#addButton {
  box-sizing: border-box;
  background-color: #235c5f;
  color: white;
}
#addButton:hover {
  background-color: white;
  color: #235c5f;
  border: 2px solid #235c5f;
  border-radius: 3px;
}

.budgetItem {
  list-style: none;
}

.category {
  font-size: 1rem;
  font-weight: 700;
  text-align: lowercase;
  line-height: normal;
  letter-spacing: normal;
}
.category::first-letter {
  text-transform: uppercase;
}
